@{
    ViewData["Title"] = "Home Page";
}



<section class="hero-pro-upgraded">
    <div class="hero-bg"></div>

    <div class="hero-content-upgraded">
        <h1>طبیعت را در سبد غذایی خود داشته باشید 🌿</h1>
        <p>
            خشکبار تازه، طبیعی و مقوی؛ سرشار از مواد مغذی، فیبر و ویتامین‌ها  
            که باعث تقویت سیستم ایمنی، سلامت قلب و افزایش انرژی روزانه می‌شوند.
        </p>
        <div class="hero-actions-upgraded">
            <a sp-action="product" asp-controller="Home" class="btn-primary-upgraded">مشاهده محصولات</a>
            <a href="#about" class="btn-secondary-upgraded">درباره ما</a>
        </div>
    </div>
</section>

<section class="stats-pro">

    <div class="stat-card">
        <div class="progress" style="--value:50%">
            <span>50%</span>
        </div>
        <h4>پسته</h4>
        <p>افزایش سلامت عمومی بدن</p>
    </div>

    <div class="stat-card">
        <div class="progress" style="--value:70%">
            <span>70%</span>
        </div>
        <h4>خشکبار</h4>
        <p>بهبود کیفیت زندگی</p>
    </div>

    <div class="stat-card">
        <div class="progress" style="--value:65%">
            <span>65%</span>
        </div>
        <h4>گردو</h4>
        <p>تقویت عملکرد مغز</p>
    </div>

    <div class="stat-card">
        <div class="progress" style="--value:80%">
            <span>80%</span>
        </div>
        <h4>بادام</h4>
        <p>تقویت سیستم ایمنی</p>
    </div>

</section>
